*{
  margin:0;
  padding:0;
}

.cabeçalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00fff7;
}

.cartão{
    width: 260px;
    height: 200px;
}

.cartão-imagem{
    width: 100%;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ec56009d;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabeçalho-link{
    color: #fff;
    text-decoration: none;
}

.h1{
    color: #fff;
    font-size: 40px;
}

.footer{
    background-color: #ec56009d;
    padding: 15px 25px;
    color: #fff;
}

.cartão-interno{
   position: relative;
   transition: transform 0.8s;
   transform-style:preserve-3d ;
}

.cartão:hover, .cartão-verso{
    transform: rotateY(180deg);
}

.cartão-frente,.cartão-verso{
    position: absolute;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
}

.cartão-verso{
    transform: rotateY(180deg);
}

.section{
    display: flex;
    gap: 16px;
}