* {
  margin:0;
  padding:0;
}

.cabeçalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00fff7;
}

.cartão{
    width: 260px;
    height: 200px;
}

.cartão-imagem{
    width: 100%;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ec56009d;
}

.main{
    flex: 1;
}

.cabeçalho-link{
    color: #fff;
    text-decoration: none;
}

.h1{
    color: #fff;
    font-size: 40px;
}

.footer{
    background-color: #ec56009d;
    padding: 15px 25px;
    color: #fff;
}